{% extends "base.html" %}
{%load static%}
{% block titulo %}
BIENVENIDO AL PORTAL DE POSTULACIONES DEL SERVICIO DE SALUD LOS RIOS

{% endblock %}

{% block contenido %}
<div class="text-center">

    <h2 class="mb-4 text-center my-4"><strong> BIENVENIDO/A AL PORTAL DE POSTULACIONES <br>SERVICIO DE SALUD LOS
            RÍOS</strong></h2>
    <p style="font-size: 20px;">Registrate en los concursos internos disponibles.</p>

</div>
<div class="row justify-content-center"> <div class="col-md-8 col-lg-6"> <div class="card h-100">
            <div class="card-body" style="background: #a3e4d7;">
                <h3 class="card-title mb-3 text-center"><strong>Concursos Internos</strong></h3>
                <p class="card-text" style="font-size: 20px;">
                    Solo se considerarán las postulaciones de los funcionarios/as con contrato vigente a la fecha de
                    publicación del concurso.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center"> <div class="col-md-8 col-lg-6 mt-2"> <div class="highlight" style="background: #fff3cd; border: 1px solid #ffeeba; border-radius: 0.25rem; padding: 15px;">
            <h5 style="color: #856404;">⚠️ <strong>Importante</strong> ⚠️</h5>
            <p>
                <ul style="font-size: 20px; padding-left: 20px;"> <li>Recuerda que debes subir tus documentos en formato PDF.</li>
                    <li>Si tienes dudas, contacta a la Unidad de Atracción y Selección del Talento.
                        reclutamiento.ssv@redsalud.gov.cl</li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock %}